.row-fluid
  .span4
    %p
      %b Historical start:
      = @quantile_setting.historical_start
    %p
      %b Historical end:
      = @quantile_setting.historical_end
  .span4
    %p
      %b Predicted start:
      = @quantile_setting.predicted_start
    %p
      %b Predicted end:
      = @quantile_setting.predicted_end
  .span4
    %p
      %b Algorithm:
      = @quantile_setting.algorithm