.navbar
  .navbar-inner
    .navbar-text.pull-left
      %h4 Listing quantile data
    .pull-right
      = link_to quantile_settings_path, class: 'btn' do
        %i.icon-refresh
        Refresh    
      = link_to 'New Quantile setting', new_quantile_setting_path, class: 'btn btn-primary'
    
%table.table.table-condensed.table-stripped
  %thead
    %tr
      %th Historical start
      %th Historical end
      %th Predicted start
      %th Predicted end
      %th Status
      %th Actions
  %tbody
    - @quantile_settings.each do |quantile_setting|
      %tr
        %td= quantile_setting.historical_start
        %td= quantile_setting.historical_end
        %td= quantile_setting.predicted_start
        %td= quantile_setting.predicted_end
        %td= quantile_setting.status
        %td
          = link_to 'Run', run_quantile_setting_path(quantile_setting), method: :post, class: 'btn btn-success'
          = link_to 'Reports', quantile_setting_reports_path(quantile_setting), class: 'btn'
          = link_to 'Edit', edit_quantile_setting_path(quantile_setting), class: 'btn'
          = link_to 'Destroy', quantile_setting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
