.row
  .span6.offset3
    %h1 Quantile setting
    
    %p#notice= notice
    %p
      %b Historical start:
      = @quantile_setting.historical_start
    %p
      %b Historical end:
      = @quantile_setting.historical_end
    %p
      %b Predicted start:
      = @quantile_setting.predicted_start
    %p
      %b Predicted end:
      = @quantile_setting.predicted_end
    %p
      %b Period:
      = @quantile_setting.period.try(:name)
    %p
      %b Algorithm:
      = @quantile_setting.algorithm
    %p
      %b Status:
      = @quantile_setting.status
  
    = link_to quantile_settings_path, class: 'btn btn-inverse' do
      %i.icon-arrow-left.icon-white
      Back

    = link_to 'Edit', edit_quantile_setting_path(@quantile_setting), class: 'btn'
    
    = link_to quantile_setting_path(@quantile_setting), class: 'btn' do
      %i.icon-refresh
      Refresh
    
    = link_to run_quantile_setting_path(@quantile_setting), method: :post, class: 'btn btn-success' do
      Run
      %i.icon-arrow-right.icon-white
