.navbar
  .navbar-inner
    .navbar-text.pull-left
      %h4 Listing reports
    .pull-right
      = link_to quantile_settings_path, class: 'btn btn-inverse' do
        %i.icon-arrow-left.icon-white
        Back to data
      = link_to quantile_setting_reports_path(@quantile_setting), class: 'btn' do
        %i.icon-refresh
        Refresh
      = link_to 'New Report', new_quantile_setting_report_path(@quantile_setting), class: 'btn btn-primary'
        
= show_flash_messages
        
%table.table.table-striped
  %thead
    %tr
      %th Low temp threshold
      %th High temp threshold
      %th Column1
      %th Column2
      %th Location
      %th Status
      %th Actions
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.low_temp_threshold
        %td= report.high_temp_threshold
        %td= report.column1
        %td= report.column2
        %td= report.location.try(:name)
        %td= report.status
        %td
          = link_to 'Run', run_quantile_setting_report_path(@quantile_setting, report), method: :post, class: 'btn btn-success'          
          = link_to 'Show', [@quantile_setting, report], class: 'btn'
          = link_to 'Destroy', [@quantile_setting, report], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
