.navbar
  .navbar-inner
    .navbar-text.pull-left
      %h4 Listing reports
    .btn-toolbar.pull-right{style:"margin:0px;"}
      .btn-group
        = link_to quantile_settings_path, class: 'btn btn-inverse' do
          %i.icon-arrow-left.icon-white
          Back to data
      .btn-group
        = link_to quantile_setting_reports_path(@quantile_setting), class: 'btn' do
          %i.icon-refresh
          Refresh
      .btn-group
        = link_to '#', class: 'btn btn-primary dropdown-toggle', 'data-toggle' => 'dropdown' do
          New Report
          %span.caret
        %ul.dropdown-menu
          - Report::TYPES.each do |t|
            %li= link_to t[0], new_quantile_setting_report_path(@quantile_setting, type: t[1])
        
= show_flash_messages

%h4 Quantile Settings
.well= render @quantile_setting
        
%h4 Reports
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{colspan:"3"} &nbsp;
      %th{colspan:"2"} One year settings
      %th{colspan:"4"} Extreme day count settings
      %th
    %tr
      %th Type
      %th Location
      %th Status
      %th Historical
      %th Prediction
      %th Low threshold
      %th High threshold
      %th Column1
      %th Column2
      %th Actions
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.type.humanize
        %td= report.location.try(:name)
        %td= report.status
        %td= report.historical_year
        %td= report.predicted_year
        %td= report.low_temp_threshold
        %td= report.high_temp_threshold
        %td= report.column1
        %td= report.column2
        %td
          =# link_to 'Run', run_quantile_setting_report_path(@quantile_setting, report), method: :post, class: 'btn btn-success', "data-skip-pjax" => true 
          = link_to 'Show', [@quantile_setting, report], class: 'btn btn-block'
          = link_to 'Destroy', [@quantile_setting, report], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger'
